<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    @entryPointStyles('app')
  </head>
  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      @include('partials/navbar')
      @include('partials/sidebar')

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        @include('partials/breadcrumbs')

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            @!section('body')
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      @include('partials/footer')
    </div>
    <!-- ./wrapper -->


    <!-- jQuery is Loaded before as it is needed -->
    <script src="/jquery.min.js"></script>
    @entryPointScripts('app')
  </body>
</html>
